.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #333;
  color: white;
  margin: 0;
}

.logo img {
  height: 40px; 
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px; 
  background: #dddddd; 
  transition: width 0.5s ease; 
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links  :hover{
  color: #dddddd;
  transition: all .5s;
}
